In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
# #Take top 6 populated states
# show in histogram 
# compare them year after year. 
# Plot a graph on population growth as to which state is growing in population fastest.

In [11]:
popl_2016 = pd.read_csv('/Users/nish/pais-datascience/data/Population data/Population_age_2016.csv')
popl_2015 = pd.read_csv('/Users/nish/pais-datascience/data/Population data/Population_age_2015.csv')
popl_2014 = pd.read_csv('/Users/nish/pais-datascience/data/Population data/Population_age_2014.csv')
popl_2013 = pd.read_csv('/Users/nish/pais-datascience/data/Population data/Population_age_2013.csv')
popl_2012 = pd.read_csv('/Users/nish/pais-datascience/data/Population data/Population_age_2012.csv')
popl_2011 = pd.read_csv('/Users/nish/pais-datascience/data/Population data/Population_age_2011.csv')

In [12]:
a=popl_2011.T
a.sort_values(5,ascending=False).head()
#2016: Highest populated states = UP, Bihar, Maharashtra, MP, WB and Rajastan when comparing both age groups
#2015: same list for both age groups
#2014: same list for both age groups
#2013: same list for both age groups
#2012: Female data is missing for 11-13 Age group, hence we will only use 6-10 and sort. same list. 
#2011: same list for both age groups. 

#All through we have seen that these are the top 6 states for highest population with Rajastan mostly appearing 6th...
#...between two age groups i.e. 6-10 years and 11-13 years.

,0,1,2,3,4,5
Gender,Male,Female,Total,Male,Female,Total
Age Group,6-10 Years,6-10 Years,6-10 Years,11-13 Years,11-13 Years,11-13 Years
Uttar Pradesh,13832396,12312506,26144902,7687786,6864113,14551899
Bihar,8218461,7594381,15812842,4074766,3684181,7758947
Maharastra,5339558,4788053,10127611,3339709,2997967,6337676

In [13]:
x_2016666666.to_

NameError: name 'x_2016666666' is not defined

In [ ]:
# Data gathering...


hist_2016 = popl_2016.iloc[5]
x_2016=pd.DataFrame(hist_2016)
x_20166=x_2016.T
x_201666=x_20166.set_index('Age Group')
x_2016666=x_201666.T
x_20166666=x_2016666.drop('Gender')
x_201666666=x_20166666.sort_values('11-13 Years',ascending=False)
x_2016666666=x_201666666.iloc[:6]
x_2016_index=x_2016666666.index
x_2016_data = x_2016666666.to_records(index=False).tolist()  

hist_2016a = popl_2016.iloc[2]
x_2016a=pd.DataFrame(hist_2016a)
x_20166a=x_2016a.T
x_201666a=x_20166a.set_index('Age Group')
x_2016666a=x_201666a.T
x_20166666a=x_2016666a.drop('Gender')
x_201666666a=x_20166666a.sort_values('6-10 Years',ascending=False)
x_2016666666a=x_201666666a.iloc[:6]
x_2016a_index=x_2016666666a.index
x_2016a_data = x_2016666666a.to_records(index=False).tolist()  


hist_2015 = popl_2015.iloc[5]
x_2015=pd.DataFrame(hist_2015)
x_20155=x_2015.T
x_201555=x_20155.set_index('Age Group')
x_2015555=x_201555.T
x_20155555=x_2015555.drop('Gender')
x_201555555=x_20155555.sort_values('11-13 Years',ascending=False)
x_2015555555=x_201555555.iloc[:6]
x_2015_index=x_2015555555.index
x_2015_data = x_2015555555.to_records(index=False).tolist()  


hist_2015a = popl_2015.iloc[2]
x_2015a=pd.DataFrame(hist_2015a)
x_20155a=x_2015a.T
x_201555a=x_20155a.set_index('Age Group')
x_2015555a=x_201555a.T
x_20155555a=x_2015555a.drop('Gender')
x_201555555a=x_20155555a.sort_values('6-10 Years',ascending=False)
x_2015555555a=x_201555555a.iloc[:6]
x_2015a_index=x_2015555555a.index
x_2015a_data = x_2015555555a.to_records(index=False).tolist()  


hist_2014 = popl_2014.iloc[2]
x_2014=pd.DataFrame(hist_2014)
x_20144=x_2014.T
x_201444=x_20144.set_index('Age Group')
x_2014444=x_201444.T
x_20144444=x_2014444.drop('Gender')
x_201444444=x_20144444.sort_values('6-10 Years',ascending=False)
x_2014444444=x_201444444.iloc[:6]
x_2014_index=x_2014444444.index
x_2014_data = x_2014444444.to_records(index=False).tolist()  

hist_2014a = popl_2014.iloc[5]
x_2014a=pd.DataFrame(hist_2014a)
x_20144a=x_2014a.T
x_201444a=x_20144a.set_index('Age Group')
x_2014444a=x_201444a.T
x_20144444a=x_2014444a.drop('Gender')
x_201444444a=x_20144444a.sort_values('11-13 Years',ascending=False)
x_2014444444a=x_201444444a.iloc[:6]
x_2014a_index=x_2014444444a.index
x_2014a_data = x_2014444444a.to_records(index=False).tolist()  

hist_2013 = popl_2013.iloc[2]
x_2013=pd.DataFrame(hist_2013)
x_20133=x_2013.T
x_201333=x_20133.set_index('Age Group')
x_2013333=x_201333.T
x_20133333=x_2013333.drop('Gender')
x_201333333=x_20133333.sort_values('6-10 Years',ascending=False)
x_2013333333=x_201333333.iloc[:6]
x_2013_index=x_2013333333.index
x_2013_data = x_2013333333.to_records(index=False).tolist()  

hist_2013a = popl_2013.iloc[5]
x_2013a=pd.DataFrame(hist_2013a)
x_20133a=x_2013a.T
x_201333a=x_20133a.set_index('Age Group')
x_2013333a=x_201333a.T
x_20133333a=x_2013333a.drop('Gender')
x_201333333a=x_20133333a.sort_values('11-13 Years',ascending=False)
x_2013333333a=x_201333333a.iloc[:6]
x_2013a_index=x_2013333333a.index
x_2013a_data = x_2013333333a.to_records(index=False).tolist()  

##2012: Female data is missing for 11-13 Age group, hence we will only use 6-10 and sort. 
hist_2012 = popl_2012.iloc[2]
x_2012=pd.DataFrame(hist_2012)
x_20122=x_2012.T
x_201222=x_20122.set_index('Age Group')
x_2012222=x_201222.T
x_20122222=x_2012222.drop('Gender')
x_201222222=x_20122222.sort_values('6-10 Years',ascending=False)
x_2012222222=x_201222222.iloc[:6]
x_2012_index=x_2012222222.index
x_2012_data = x_2012222222.to_records(index=False).tolist()  

hist_2011 = popl_2011.iloc[2]
x_2011=pd.DataFrame(hist_2011)
x_20111=x_2011.T
x_201111=x_20111.set_index('Age Group')
x_2011111=x_201111.T
x_20111111=x_2011111.drop('Gender')
x_201111111=x_20111111.sort_values('6-10 Years',ascending=False)
x_2011111111=x_201111111.iloc[:6]
x_2011_index=x_2011111111.index
x_2011_data = x_2011111111.to_records(index=False).tolist()  


hist_2011a = popl_2011.iloc[5]
x_2011a=pd.DataFrame(hist_2011a)
x_20111a=x_2011a.T
x_201111a=x_20111a.set_index('Age Group')
x_2011111a=x_201111a.T
x_20111111a=x_2011111a.drop('Gender')
x_201111111a=x_20111111a.sort_values('11-13 Years',ascending=False)
x_2011111111a=x_201111111a.iloc[:6]
x_2011a_index=x_2011111111a.index
x_2011a_data = x_2011111111a.to_records(index=False).tolist()

In [ ]:
my_xticks = yy
my_yticks = c1
plt.xticks(ind,my_xticks)

#plt.figure(figsize=(12,10))
plt.plot(ind,x_2016a_data, label='Age 6-10 years\n2016',color="blue")
plt.plot(ind,x_2015a_data, label='Age 6-10 years\n2015',color="0.75")
plt.plot(ind,x_2014_data, label='Age 6-10 years\n2014',color="black")
plt.plot(ind,x_2013_data, label='Age 6-10 years\n2013',color="cyan")
plt.plot(ind,x_2012_data, label='Age 6-10 years\n2012',color='green')
plt.plot(ind,x_2011_data, label='Age 6-10 years\n2011',color="red")

plt.xlabel('Most Populated States in India')
plt.xticks(rotation=90)
plt.ylabel('Population in Million')
plt.legend(loc='best', shadow=True)
plt.title('Total Male & Female population from 2011-2016\nAge Groups: 6-10 years')
plt.show()

##2012: Female data is missing for 11-13 Age group, hence we will only use 6-10 and sort.

In [ ]:
my_xticks = yy
my_yticks = c1
plt.xticks(ind,u)

plt.plot(ind,x_2011a_data, label='Age 11-13 years\n2011',color="blue")
plt.plot(ind,x_2013a_data, label='Age 11-13 years\n2013',color='0.75')
plt.plot(ind,x_2014a_data, label='Age 11-13 years\n2014',color="black")
plt.plot(ind,x_2015_data, label='Age 11-13 years\n2015',color="red")
plt.plot(ind,x_2016_data, label='Age 11-13 years\n2016',color="green")

plt.xlabel('Most Populated States in India v Least Populated')
plt.xticks(rotation=90)
plt.ylabel('Population in Million')
plt.legend(loc='best', shadow=True)
plt.title('Total Male & Female population from 2011-2016\nAge Groups: 11-13 years ')
plt.show()

# Comparing with lowest states

In [ ]:
hist_2011L = popl_2011.iloc[2]
x_2011L=pd.DataFrame(hist_2011L)
x_20111L=x_2011L.T
x_201111L=x_20111L.set_index('Age Group')
x_2011111L=x_201111L.T
x_20111111L=x_2011111L.drop('Gender')
x_201111111L=x_20111111L.sort_values('6-10 Years',ascending=True)
x_2011111111L=x_201111111L.iloc[:11]
x_2011L_index=x_2011111111L.index
x_2011L_data = x_2011111111L.to_records(index=False).tolist() 
ind1=arange(len(x_2011L_index))
yy1=x_2011L_index
c11=x_2011L_data

u=yy.append(yy1)
c11

In [ ]:
hist_2011ab = popl_2011.iloc[2]
hist_2011ab = pd.DataFrame()

x_2011a=pd.DataFrame(hist_2013a)
x_20111a=x_2011a.T
x_201111a=x_20111a.set_index('Age Group')
x_2011111a=x_201111a.T
x_20111111a=x_2011111a.drop('Gender')
x_201111111a=x_20111111a.sort_values('11-13 Years',ascending=False)
x_2011111111a=x_201111111a.iloc[:6]
x_2011a_index=x_2011111111a.index
x_2011a_data = x_2011111111a.to_records(index=False).tolist()

In [ ]:
my_xticks = yy1
my_yticks = c1
plt.xticks(ind1,my_xticks)
#plt.yticks(ind1,my_yticks)

plt.subplot(2,1,1)
plt.plot(ind1,x_2011L_data, label='Age 6-10 years\n2011',color="black")

plt.subplot(2,1,2)
plt.plot(ind,x_2011a_data, label='Age 11-13 years\n2011',color="blue")

plt.xlabel('Most Populated States in India')
plt.xticks(rotation=90)
plt.ylabel('Population in Million')
plt.legend(loc='best', shadow=True)
plt.title('Total population for 2011\nAge Groups: 6-10 years ')
plt.tight_layout()
plt.show()

# x_2011111111L

In [ ]:
# my_xticks = yy
# my_yticks = c1
# plt.xticks(ind,my_xticks)
# plt.plot(ind,x_2011L_data, label='Male 6-10 years\n2016',color="blue")
# plt.plot(ind,x_2016L_index, label='Female 6-10 years\n2016',color='orange')
# plt.xlabel('Most Populated States in India')
# plt.xticks(rotation=90)
# plt.ylabel('Population in Million')
# plt.legend(loc='best', shadow=True)
# plt.title('Male & Female population from 2011-2016\nAge Groups: 6-10 years ')
# plt.show()

## Population by sq kms

In [ ]:
import pandas as pd
sq_kms = pd.read_csv('/Users/nish/pais-datascience/data/Population data/Popl_sq_km.csv')
sq_km=sq_kms.set_index('States')
indx = sq_km.index
indx
sq_km

In [ ]:
sq_kmss=sq_km.iloc[:]
sq_kmss
df1=sq_kmss.values.T.tolist()
df1

In [ ]:
lat,lon = sq_kmss['Population per sq. km.'],sq_kmss['Area in sq kms']
area, population = sq_km['Area in sq kms'], sq_km['Population per sq. km.']

plt.figure(figsize=(10,6))
plt.scatter(lon,lat, c = (sq_kmss['Total Population']), cmap = 'magma', s = area/100, alpha = 0.3)
plt.xlabel('Population')

plt.xticks()
plt.ylabel('Area in sq kms')
plt.colorbar(label='Total Population')

plt.show()

In [ ]:
p=popl_2016.T[0]
q=popl_2016.T[1]
r=m_201666666.to_records(index=False).tolist() 
s=f_201666666.to_records(index=False).tolist()

In [ ]:
plt.axes([0.05,0.05,0.425,0.9999])