# Goal
predict if a passenger survived the sinking of the Titanic or not. 
For each PassengerId in the test set, you must predict a 0 or 1 value for the Survived variable.

### Approach Method
* First understand the problem
* Ask yourself what is the goal: #Goal here is to predict survivors 
* Ask yourself what is the metric to check success rate #Success rate is accuracy of prediction
* Imagine the entire dataset and explore

In [3]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [4]:
test = pd.read_csv('../test.csv')
train = pd.read_csv('../train.csv')

In [6]:
test.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [24]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

#Survival rate

In [20]:
print ('Survival rate:', train['Survived'].mean())

('Survival rate:', 0.3838383838383838)

In [11]:
data = pd.read_sql(r'data/database.sqlite')

TypeError: read_sql() takes at least 2 arguments (1 given)

In [13]:
help(pd.read_sql)

Help on function read_sql in module pandas.io.sql:

read_sql(sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None, columns=None, chunksize=None)
    Read SQL query or database table into a DataFrame.

    Parameters
    ----------
    sql : string SQL query or SQLAlchemy Selectable (select or text object)
        to be executed, or database table name.
    con : SQLAlchemy connectable(engine/connection) or database string URI
        or DBAPI2 connection (fallback mode)
        Using SQLAlchemy makes it possible to use any DB supported by that
        library.
        If a DBAPI2 object, only sqlite3 is supported.
    index_col : string or list of strings, optional, default: None
        Column(s) to set as index(MultiIndex)
    coerce_float : boolean, default True
        Attempt to convert values to non-string, non-numeric objects (like
        decimal.Decimal) to floating point, useful for SQL result sets
    params : list, tuple or dict, optional, default: None
        List of parameters to pass to execute method.  The syntax used
        to pass parameters is database driver dependent. Check your
        database driver documentation for which of the five syntax styles,
        described in PEP 249's paramstyle, is supported.
        Eg. for psycopg2, uses %(name)s so use params={'name' : 'value'}
    parse_dates : list or dict, default: None
        - List of column names to parse as dates
        - Dict of ``{column_name: format string}`` where format string is
          strftime compatible in case of parsing string times or is one of
          (D, s, ns, ms, us) in case of parsing integer timestamps
        - Dict of ``{column_name: arg dict}``, where the arg dict corresponds
          to the keyword arguments of :func:`pandas.to_datetime`
          Especially useful with databases without native Datetime support,
          such as SQLite
    columns : list, default: None
        List of column names to select from sql table (only used when reading
        a table).
    chunksize : int, default None
        If specified, return an iterator where `chunksize` is the
        number of rows to include in each chunk.

    Returns
    -------
    DataFrame

    Notes
    -----
    This function is a convenience wrapper around ``read_sql_table`` and
    ``read_sql_query`` (and for backward compatibility) and will delegate
    to the specific function depending on the provided input (database
    table name or sql query).  The delegated function might have more specific
    notes about their functionality not listed here.

    See also
    --------
    read_sql_table : Read SQL database table into a DataFrame
    read_sql_query : Read SQL query into a DataFrame

In [14]:
data = pd.read_csv(r'data/albumlist.csv')

In [15]:
data.head()

,Number,Year,Album,Artist,Genre,Subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,"Folk Rock, Blues Rock"
4,5,1965,Rubber Soul,The Beatles,"Rock, Pop",Pop Rock

In [16]:
data.tail()

,Number,Year,Album,Artist,Genre,Subgenre
495,496,1969,Boz Scaggs,Boz Scaggs,Rock,Pop Rock
496,497,2001,White Blood Cells,The White Stripes,Rock,"Indie Rock, Alternative Rock, Blues Rock, Gara..."
497,498,1989,The Stone Roses,The Stone Roses,Rock,Indie Rock
498,499,1971,Live in Cook County Jail,B.B. King,Blues,Electric Blues
499,500,1998,Aquemini,OutKast,Hip Hop,"Reggae, Gangsta, Soul, Conscious"

In [18]:
data['Artist']

0                           The Beatles
1                        The Beach Boys
2                           The Beatles
3                             Bob Dylan
4                           The Beatles
5                           Marvin Gaye
6                    The Rolling Stones
7                             The Clash
8                             Bob Dylan
9                           The Beatles
10                        Elvis Presley
11                          Miles Davis
12               The Velvet Underground
13                          The Beatles
14          The Jimi Hendrix Experience
15                            Bob Dylan
16                              Nirvana
17                    Bruce Springsteen
18                         Van Morrison
19                      Michael Jackson
20                          Chuck Berry
21                       Robert Johnson
22       John Lennon / Plastic Ono Band
23                        Stevie Wonder
24                          James Brown
25                        Fleetwood Mac
26                                   U2
27                              The Who
28                         Led Zeppelin
29                        Joni Mitchell
                     ...
470            Richard & Linda Thompson
471                      George Michael
472                          The Smiths
473                           Manu Chao
474    Elvis Costello & The Attractions
475                The Notorious B.I.G.
476                       Merle Haggard
477                        Loretta Lynn
478                          Funkadelic
479                             Raekwon
480                            D'Angelo
481                         Steve Earle
482                        Gang of Four
483                     Mott the Hoople
484                           Pearl Jam
485                  Earth, Wind & Fire
486                        Cyndi Lauper
487                           Husker Du
488                                KISS
489                              ZZ Top
490                         Albert King
491                          Eurythmics
492                               Wilco
493                                MGMT
494                        Bonnie Raitt
495                          Boz Scaggs
496                   The White Stripes
497                     The Stone Roses
498                           B.B. King
499                             OutKast
Name: Artist, dtype: object

In [19]:
import sqlalchemy
from sqlalchemy import create_engine # database connection

In [26]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

import sqlalchemy
from sqlalchemy import create_engine # database connection

import sqlite3

from IPython.display import display, clear_output
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn import preprocessing

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

In [29]:
import sqlite3
data = sqlite3.connect('database.db')