In [1]:
import pandas as pd

In [5]:
df=pd.read_excel('/Users/nish/pais-datascience/data/NLES/2016/Table-2- Estimated Population by Age Group-2013 & 14.xlsx',skiprows=[0,1],header=[0,1])
df.T

,,0,1,2,3,4,5,6,7,8,9,10
Unnamed: 0_level_0,Unnamed: 0_level_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age group,Unnamed: 1_level_1,6-10 Years,11-13 Years,6-13 Years,14-15 Years,6-15 Years,16-17 Years,6-17 Years,18-23 Years,Data Source: Ministry of Human Resource Develo...,NaN,NaN
2013,ALL,130896,75223,206119,50244,256363,45084.8,301448,140802,NaN,NaN,NaN
Unnamed: 3_level_0,SC,23324,13259.4,36583.4,8802.85,45386.2,7748.8,53135,24077,NaN,NaN,NaN
Unnamed: 4_level_0,ST,13019.5,7194.11,20213.6,4610,24823.6,3963.14,28786.8,11926,NaN,NaN,NaN
2014,All,130648,74412.7,205061,49801.5,254862,44734,299596,141046,NaN,NaN,NaN
Unnamed: 6_level_0,SC,23286,13127,36413,8724.08,45137.1,7679.62,52816.7,24106,NaN,NaN,NaN
Unnamed: 7_level_0,ST,12970.8,7079,20049.8,4558.85,24608.6,3937,28545.6,11949,NaN,NaN,NaN
Corresponding Level of Education,Unnamed: 8_level_1,Primary ...,Upper Primary (VI-VIII),Elementary ...,Secondary (IX-X),I-X,Sr. Secondary ( XI-XII),I-XII,Higher Education,NaN,NaN,NaN
2012,M,6.85834e+07,3.99469e+07,1.0853e+08,2.67064e+07,1.35237e+08,2.41394e+07,5.08458e+07,7.3294e+07,NaN,NaN,NaN
Unnamed: 10_level_0,F,6.25602e+07,3.60972e+07,9.86574e+07,2.39849e+07,1.22642e+08,2.1299e+07,4.52839e+07,6.72647e+07,NaN,NaN,NaN
Unnamed: 11_level_0,T,1.31144e+08,7.60441e+07,2.07188e+08,5.06913e+07,2.57879e+08,4.54384e+07,9.61297e+07,1.40559e+08,NaN,NaN,NaN
Unnamed: 12_level_0,Unnamed: 12_level_1,NaN,NaN,NaN,NaN,NaN,NaN,IX-XII,NaN,NaN,NaN,NaN
Unnamed: 13_level_0,Unnamed: 13_level_1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,