In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [58]:
col_names = ['a','b','State','Census Year', 'Persons','Absolute','Percentage','Males','Females']
dfa = pd.read_excel('/Users/nish/pais-datascience/data/density/Decadal Variation In Population Since 1901.xls',header=None,names=col_names,skiprows=[0,1,2,3,4,5])

In [61]:
dfb=dfa.set_index('State')
dfc=dfb.drop('a',axis=1)
dfd = dfc.drop('b',axis=1)
dfc=dfd.iloc[:467]
dfc.head()
dfc.to_csv('Decadel Variation.csv')
dfc

,Census Year,Persons,Absolute,Percentage,Males,Females
State,,,,,,
INDIA,1901 $,238396327,---,---,120791301,117358672
NaN,1911,252093390,"+ 13,697,063",+5.75,128385368,123708022
NaN,1921,251321213,"- 772,177",- 0.31,128546225,122774988
NaN,1931 $,278977238,"+27,656,025",+11.00,142929689,135788921
NaN,1941 $,318660580,"+39,683,342",+14.22,163685302,154690267
NaN,1951 @,361088090,"+42,420,485",+13.31,185528462,175559628
NaN,1961 @,439234771,"+77,682,873",+21.51,226293201,212941570
NaN,1971,548159652,"+108,924,881",+24.80,284049276,264110376
NaN,1981 #,683329097,"+135,169,445",+24.66,353374460,329954637
NaN,1991 +,846421039,"+163,091,942",+23.87,439358440,407062599
NaN,2001 ++,1028737436,"+182,316,397",+21.54,532223090,496514346
NaN,2011,1210854977,182117541,17.703,623270258,587584719
NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jammu & Kashmir,1901,2139362,---,---,1136766,1002596
NaN,1911,2292535,"+153,173",+7.16,1222305,1070230
NaN,1921,2424359,"+131,824",+5.75,1296205,1128154
NaN,1931,2670208,"+245,849",+10.14,1431801,1238407
NaN,1941,2946728,"+276,520",+10.36,1577021,1369707
NaN,1951,3253852,"+307,124",+10.42,1736827,1517025
NaN,1961,3560976,"+307,124",+9.44,1896633,1664343
NaN,1971,4616632,"+1,055,656",+29.65,2458315,2158317
NaN,1981,5987389,"+1,370,757",+29.69,3164660,2822729
NaN,1991 +,7837051,"+1,849,662",+30.89,4142082,3694969
NaN,2001,10143700,"+2,306,649",+29.43,5360926,4782774
NaN,2011,12541302,"+2,397,602",+23.64,6640662,5900640
NaN,NaN,NaN,NaN,NaN,NaN,NaN
Himachal Pradesh,1901,1920294,---,---,1019069,901225
NaN,1911,1896944,"- 23,350",- 1.22,1004183,892761
NaN,1921,1928206,"+31,262",+1.65,1020201,908005
NaN,1931,2029113,"+100,907",+5.23,1069540,959573
...,...,...,...,...,...,...
NaN,1981,48408077,"+7,208,909",+17.50,24487624,23920453
NaN,1991,55858946,"+7,450,869",+15.39,28298975,27559971
NaN,2001,62405679,"+6,546,733",+11.72,31400909,31004770
NaN,2011,72147030,"+9,741,351",+15.61,36137975,36009055
NaN,NaN,NaN,NaN,NaN,NaN,NaN
Puducherry,1901,246354,---,---,N.A,N.A
NaN,1911,257179,"+10,825",+4.39,124961,132218
NaN,1921,244156,-13023,-5.06,118953,125203
NaN,1931,258628,"+14,472",+5.93,N.A,N.A
NaN,1941,285011,"+26,383",+10.20,N.A,N.A
NaN,1948,317253,"+32,242",+11.31,156275,160978
NaN,1961,369079,"+51,826",+16.34,183347,185732
NaN,1971,471707,"+102,628",+27.81,237112,234595
NaN,1981,604471,"+132,764",+28.15,304561,299910
NaN,1991,807785,"+203,314",+33.64,408081,399704
NaN,2001,974345,"+166,560",+20.62,486961,487384
NaN,2011,1247953,"+273,608",+28.08,612511,635442
NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andaman & Nicobar Islands,1901,24649,---,---,18695,5954
NaN,1911,26459,"+1,810",+7.34,19570,6889
NaN,1921,27086,+627,+2.37,20793,6293
NaN,1931,29463,"+2,377",+8.78,19702,9761
NaN,1941,33768,"+4,305",+14.61,21458,12310
NaN,1951,30971,"-2,797",-8.28,19055,11916
NaN,1961,63548,"+32,577",+105.19,39304,24244
NaN,1971,115133,"+51,585",+81.17,70027,45106
NaN,1981,188741,"+73,608",+63.93,107261,81480
NaN,1991,280661,"+91,920",+48.70,154369,126292
NaN,2001,356152,"+75,491",+26.90,192972,163180
NaN,2011,380581,"+24,429",+6.86,202871,177710